# Splitting of Dataset

<h2> Importing Libraries </h2>

In [32]:
import pandas as pd
import numpy as np

<h2> Importing Dataset </h2>

In [33]:
df = pd.read_excel("Salary_Dataset_02.xls")

In [34]:
df.head()

   Australia  Canada  Dubai  USA  Salary  YearsExperience  Purchased
0          0       0      1    0   39343              1.1          0
1          0       1      0    0   46205              1.3          1
2          0       1      0    0   37731              1.5          0
3          0       1      0    0   43525              2.0          0
4          0       0      0    1   39891              2.2          0

<h2> Dividing into Target and Predictor Variables </h2>

In [35]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

<h2> Divide Data as Training Set and Testing Set </h2>

In [36]:
from sklearn.model_selection import train_test_split

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 78)

In [46]:
X_train

    Australia  Canada  Dubai  USA  Salary  YearsExperience
25          1       0      0    0  105582              9.0
1           0       1      0    0   46205              1.3
15          0       0      0    1   67938              4.9
13          0       1      0    0   57081              4.1
21          1       0      0    0   98273              7.1
7           1       0      0    0   54445              3.2
0           0       0      1    0   39343              1.1
24          0       0      1    0  109431              8.7
6           0       1      0    0   60150              3.0
16          0       0      0    1   66029              5.1
4           0       0      0    1   39891              2.2
11          0       0      0    1   55794              4.0
12          0       0      1    0   56957              4.0
3           0       1      0    0   43525              2.0
14          1       0      0    0   61111              4.5
19          0       1      0    0   93940              6.0
27          0       0      0    1  112635              9.6
20          0       1      0    0   91738              6.8
28          0       0      0    1  122391             10.3
9           0       0      1    0   57189              3.7
8           0       0      1    0   64445              3.2
23          1       0      0    0  113812              8.2
22          1       0      0    0  101302              7.9
5           0       0      1    0   56642              2.9

In [47]:
X_test

    Australia  Canada  Dubai  USA  Salary  YearsExperience
18          1       0      0    0   81363              5.9
10          0       0      1    0   63218              3.9
29          0       1      0    0  121872             10.5
17          0       1      0    0   83088              5.3
26          0       0      1    0  116969              9.5
2           0       1      0    0   37731              1.5

In [48]:
y_train

25    1
1     1
15    0
13    0
21    0
7     0
0     0
24    0
6     1
16    0
4     0
11    0
12    1
3     0
14    0
19    0
27    1
20    0
28    0
9     0
8     1
23    1
22    0
5     0
Name: Purchased, dtype: int64

In [49]:
y_test

18    1
10    1
29    1
17    0
26    0
2     0
Name: Purchased, dtype: int64